#! /bin/bash
# Copyright (c) 2019 ZettaDB inc. All rights reserved.
# This source code is licensed under Apache 2.0 License,
# combined with Common Clause Condition 1.0, as detailed in the NOTICE file.

export KUNLUNBASE=KUNLUN_BASEDIR
export KUNLUNVERSION=KUNLUN_VERSION

envtype="${envtype:-no}"

if test "$envtype" = "all" -o "$envtype" = "clustermgr"; then
        PATH=$KUNLUNBASE/kunlun-cluster-manager-$KUNLUNVERSION/bin:$PATH
        LD_LIBRARY_PATH=$KUNLUNBASE/kunlun-cluster-manager-$KUNLUNVERSION/lib:$LD_LIBRARY_PATH
	LD_LIBRARY_PATH=$KUNLUNBASE/kunlun-cluster-manager-$KUNLUNVERSION/lib64:$LD_LIBRARY_PATH
fi

if test "$envtype" = "all" -o "$envtype" = "nodemgr"; then
        PATH=$KUNLUNBASE/kunlun-node-manager-$KUNLUNVERSION/bin:$PATH
        LD_LIBRARY_PATH=$KUNLUNBASE/kunlun-node-manager-$KUNLUNVERSION/lib:$LD_LIBRARY_PATH
	LD_LIBRARY_PATH=$KUNLUNBASE/kunlun-node-manager-$KUNLUNVERSION/lib64:$LD_LIBRARY_PATH
fi

if test "$envtype" = "all" -o "$envtype" = "computing"; then
        PATH=$KUNLUNBASE/kunlun-server-$KUNLUNVERSION/bin:$PATH
        LD_LIBRARY_PATH=$KUNLUNBASE/kunlun-server-$KUNLUNVERSION/lib:$LD_LIBRARY_PATH
	LD_LIBRARY_PATH=$KUNLUNBASE/kunlun-server-$KUNLUNVERSION/lib64:$LD_LIBRARY_PATH
fi

if test "$envtype" = "all" -o "$envtype" = "storage"; then
        PATH=$KUNLUNBASE/kunlun-storage-$KUNLUNVERSION/bin:$PATH
        LD_LIBRARY_PATH=$KUNLUNBASE/kunlun-storage-$KUNLUNVERSION/lib:$LD_LIBRARY_PATH
	LD_LIBRARY_PATH=$KUNLUNBASE/kunlun-storage-$KUNLUNVERSION/lib64:$LD_LIBRARY_PATH
fi

if test "$envtype" = "all" -o "$envtype" = "parent"; then
	PATH="`pwd`/../bin:$PATH"
	LD_LIBRARY_PATH="`pwd`/../lib:$LD_LIBRARY_PATH"
fi

PATH=$KUNLUNBASE/bin:$PATH
LD_LIBRARY_PATH=$LD_LIBRARY_PATH:$KUNLUNBASE/lib:$KUNLUNBASE/lib64
PYTHONPATH=$KUNLUNBASE/lib/python2.7/site-packages:$KUNLUNBASE/lib64/python2.7/site-packages:$PYTHONPATH

export ASAN_OPTIONS=detect_odr_violation=0
# used by postgresql start, otherwise, postgresql.conf is invalid.
export LANG=en_US.utf8
export LC_CTYPE=en_US.utf8
export LC_COLLATE=en_US.utf8
export LC_NUMERIC=en_US.utf8
export LC_TIME=en_US.utf8
export LC_MONETARY=en_US.utf8
export LC_MESSAGES=en_US.utf8
export PATH
export LD_LIBRARY_PATH
export PYTHONPATH
